<div id="top" style="display: block;">
    <div class="bar" style="width: 0;"></div>
    <a class="iconfont icon-home image-icon" href="javascript:;" data-url="http://yusux.xyz"></a>
    <div title="播放/暂停" class="iconfont icon-play"></div>
    <h3 class="subtitle"><%- page.title %></h3>
    <div class="scrollbar"></div>
</div>
